.u-section-1 {
  background-image: url(np://user.desktop.nicepage.com/Site_147547286/images/pexelsphoto2157039.jpg);
}

.u-section-1 .u-sheet-1 {
  min-height: 692px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 337px;
  margin: 36px 0 70px auto;
}

.u-section-1 .u-layout-cell-1 {
  background-image: none;
  min-height: 281px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 20px 0;
}

.u-section-1 .u-layout-cell-2 {
  background-image: none;
  min-height: 199px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 10px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 20px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 272px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 199px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-right: 16px;
    margin-left: 115px;
    position: relative;
  }

  .u-section-1 .u-text-3 {
    position: relative;
    margin-right: 18px;
    margin-left: 17px;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
    margin-right: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 281px;
    margin-bottom: 70px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 215px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 215px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 10px;
    margin-left: 146px;
    width: 125px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 11px;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 264px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 6px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 31px;
    margin-right: 0;
    margin-left: 101px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 14px;
    margin-right: 1px;
    margin-left: 5px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 42px;
    margin-right: 2px;
    margin-left: 118px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 3px;
    margin-left: 2px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 3px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 434px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 90px auto 90px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 255px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-2 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 255px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-2 .u-text-4 {
  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  margin-left: 0;
  margin-right: auto;
  background-image: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    letter-spacing: 10px;
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-3 {
    position: relative;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 16px;
    position: relative;
  }

  .u-section-2 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 5px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 6px;
  }
}.u-section-3 {
  min-height: 404px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/pexelsphoto462235.jpg");
  min-height: 404px;
  background-position: 50% 0%;
}

.u-section-3 .u-image-2 {
  background-image: url("images/pexelsphoto982614.jpg");
  min-height: 404px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-3 {
  background-image: url("images/pexelsphoto698170.jpg");
  min-height: 404px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-4 {
  background-image: url("images/pexelsphoto1166406.jpg");
  min-height: 404px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 487px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 91px auto 91px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 306px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  font-size: 3rem;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 306px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 306px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-4 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 135px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 221px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 191px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-5 {
  min-height: 790px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/pexelsphoto709767.jpg");
  min-height: 790px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-2 {
  background-image: url("images/pexelsphoto21013451.jpg");
  min-height: 790px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: auto;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 732px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 107px auto 107px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 548px;
}

.u-section-6 .u-image-1 {
  height: 352px;
  margin: 0 auto 45px 0;
}

.u-section-6 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-text-2 {
  margin: 41px 20px 20px;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 548px;
}

.u-section-6 .u-image-2 {
  height: 352px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 45px 20px 0;
}

.u-section-6 .u-text-4 {
  margin: 20px;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 548px;
}

.u-section-6 .u-image-3 {
  height: 352px;
  margin: 0 auto 45px 0;
}

.u-section-6 .u-text-5 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-section-6 .u-text-6 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-section-6 .u-layout-cell-4 {
  background-image: none;
  min-height: 548px;
}

.u-section-6 .u-image-4 {
  height: 352px;
  margin: 0 auto 45px 0;
}

.u-section-6 .u-text-7 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-section-6 .u-text-8 {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    height: 290px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-image-2 {
    height: 290px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-image-3 {
    height: 290px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    width: auto;
    position: relative;
    margin: 45px -20px 0 16px;
  }

  .u-section-6 .u-text-6 {
    position: relative;
    margin: 20px 16px 55px;
  }

  .u-section-6 .u-image-4 {
    height: 290px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 10px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    height: 222px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-image-2 {
    height: 222px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-image-3 {
    height: 222px;
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
    width: NaNpx;
  }

  .u-section-6 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-image-4 {
    height: 222px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1955px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 356px;
  }

  .u-section-6 .u-image-1 {
    height: 208px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 376px;
  }

  .u-section-6 .u-image-2 {
    height: 208px;
    margin-top: 45px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 444px;
  }

  .u-section-6 .u-image-3 {
    height: 208px;
    margin-top: 55px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-5 {
    margin-right: -6px;
    margin-left: 5px;
    width: 541px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 680px;
  }

  .u-section-6 .u-image-4 {
    height: 208px;
    margin-top: 65px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-7 {
    margin: 45px 5px 0;
  }

  .u-section-6 .u-text-8 {
    margin: 20px 5px 65px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 107px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-6 .u-image-1 {
    height: 175px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 20px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-6 .u-image-2 {
    height: 175px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-4 {
    margin-bottom: 20px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-6 .u-image-3 {
    height: 175px;
    margin-top: 0;
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
    width: 340px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: auto;
  }

  .u-section-6 .u-image-4 {
    height: 175px;
    margin-top: 0;
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }
}